body {
  background-color: #FAF8EF;
  font-family: "Helvetica"
}

.Row {
  display: flex;
}

.Container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.Board {
  width: 600px;
  height: 600px;
  background-color: #BBADA0;
  border-radius: 10px;
  padding: 10px;
}

.Cell {
  border-radius: 5px;
  height: 140px;
  width: 140px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62px;
  font-weight: 600;
  user-select: none;
}